body {
	background-color:
	white;
}
.menu {
	
	list-style-type:none;
	margin: 0; 
	padding: 0;
	overflow: hidden;
	background-color:
	#000;
}

.menu a{
	float:left;
}
.menu a{
	font-family:verdana;
	display : inline;
	color: white;
	text-align: left;
	padding:14px;
	text-decoration: none;
	border-right:1px solid #f16000;
}
.menu a:hover {
	transform: scale(1.2);
	background-color: #f16000;
}
.name{
	position: absolute;
	font-family:Lucida Sans Typewriter;
	color:#f16000;
	left:50px;
	font-size: 50px;
	
}
.name2{
	position: absolute;
	font-family:Impact;
	color:#f16000;
	left:100px;
	bottom:180px;
	font-size: 150px;
}
.name3{
	position: absolute;
	font-family:Ravie;
	color:#f16000;
	left:150px;
	bottom:230px;
	font-size: 100px;
}
.name4{
	position: absolute;
	font-family: Copperplate Gothic;
	color:#f16000;
	left:230px;
	bottom:250px;
	font-size: 100px;
}
.name5{
	position: absolute;
	font-family:Ravie ;
	color:#f16000;
	left:300px;
	bottom:165px;
	font-size: 150px;
}
.name6{
	position: absolute;
	font-family:Berlin Sans FB ;
	color:#f16000;
	left:410px;
	bottom:170px;
	font-size: 150px;
}
.name7{
	position: absolute;
	font-family:Forte ;
	color:#f16000;
	left:495px;
	bottom:150px;
	font-size: 150px;
}
.surname{
	position:absolute;
	left:420px;
	bottom:280px;
	font-family: Lucida Sans Typewriter;
	font-size:30px;
	color:white;
	text-shadow:4px -1px #f16000;
}
.school{
	position:absolute;
	left:450px;
	bottom:215px;
	font-family: Courier New;
	font-size:20px;
	color:white;
}
.school2{
	position:absolute;
	left:450px;
	bottom:180px;
	font-family: Courier New;
	font-size:20px;
	color:white;
}
.box{
	position:absolute;
	left:440px;
	bottom:180px;
	width:600px;
	padding:40px;
	border: 2px solid #f16000;
	margin:0;
}
.myself{
	position: absolute;
	left:450px;
	bottom:500px;
	font-family:  Berlin Sans FB;
	color:#f16000;
	font-size:50px;
}
.box2{
	position:absolute;
	left:10px;
	bottom:100px;
	width:1255px;
	height:400px;
	padding:20px;
	border: 2px solid #f16000;
	margin:0;
}
.story{
	position:absolute;
	color:white;
	font-family:Courier New;
	font-size:20px;
	padding:20px;
}
.contact{
	position:absolute;
	color:#f16000;
	font-family: Berlin Sans FB;	
	font-size:50px;
	left:450px;
}
.gmail{
	position:absolute;
	color:white;
	font-family: Courier New;	
	font-size:30px;
	left:250px;
	bottom:400px;
}
.facebook{
	position:absolute;
	color:white;
	font-family: Courier New;	
	font-size:30px;
	left:250px;
	bottom:300px;
}
.mobile{
	position:absolute;
	color:white;
	font-family: Courier New;	
	font-size:30px;
	left:250px;
	bottom:200px;
}

